Implement SMTP Extension for UTF8 Headers

As described in [RFC 6531](https://tools.ietf.org/html/rfc6531):

The document defines a Simple Mail Transfer Protocol [RFC5321]
   extension so servers can advertise the ability to accept and process
   internationalized email addresses (see Section 1.1) and
   internationalized email headers [RFC6532].

   An extended overview of the extension model for internationalized
   email addresses and the email header appears in RFC 6530 [RFC6530],
   referred to as "the framework document" in this specification.  A
   thorough understanding of the information in that document and in the
   base Internet email specifications [RFC5321] [RFC5322] is necessary
   to understand and implement this specification.

Done with release 2.3.0